<!DOCTYPE html>
<body>
    <title>Blood Donor Data Store</title>
</body>
<body>
    <center>
    <hr/>
    <form method="POST" action="update/{{billmodel.donor_id}}">
    {% csrf_token %}
    <table border="1">
        <tr>
            <td>Donor ID</td>
            <td><input type="text" name="Donor" value="{{billmodel.donor_id}}" readonly></td>
        </tr>
        <tr>
            <td>Donor name</td>
            <td><input type="text" name="Donor name" value="{{billmodel.donor_name}}"></td>
        </tr>
        <tr>
            <td>Donor email</td>
            <td><input type="text" name="Donor email" value="{{billmodel.email}}"></td>
        </tr>
        <tr>
            <td>gender</td>
            <td><input type="char" name="Gender" value="{{billmodel.gender}}"></td>
        </tr>
        <tr>
            <td>Donated Amount</td>
            <td><input type="text" name="Amount" value="{{billmodel.donated_amount}}"></td>
        </tr>
        <tr>
            <td>previously donated</td>
            <td><input type="text" name="previously donated" value="{{billmodel.prev_donated}}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="update"></td>
            <td>
                {% if messages %}
                {% for mess in messages %}
                <b style="color: blue;">{{mess}}</b>
                {% endfor %}
                {% endif %}
            </td>
        </tr>
    </table>
    <a href="{%url 'showcustomer' %}">Homepage</a> 
</form>
</center>
</body>
</html>