{% load static %}
<!DOCTYPE html>
<body>
    <title>Electric Bill generator</title>
</body>
<body>
    <center>
    <center>Electric bill generator</center>
    <hr/>
    <a href="{%url 'insertcustomer' %}">create new customer</a>
    <table border="1">
        <tr>
            <th>cid</th>
            <th>name</th>
            <th>email</th>
            <th>job</th>
            <th>gender</th>
            <th>watt used</th>
            <th>Previous payment</th>
        </tr>
        {% for result in data %}
        <tr>
            <td>{{result.c_id}}</td>
            <td>{{result.c_name}}</td>
            <td>{{result.email}}</td>
            <td>{{result.job}}</td>
            <td>{{result.gender}}</td>
            <td>{{result.watt_used}}</td>
            <td>{{result.payment}}</td>
            <td><a href="edit/{{result.c_id}}/">Edit</a></td>
            <td><a href="delete/{{result.c_id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</center>
</body>
</html>