{% load static %}
<!DOCTYPE html>
<body>
    <title>Blood Donor Data Store</title>
</body>
<body>
    <center>
    <center>Blood Donor Data Store</center>
    <hr/>
    <a href="{%url 'insertcustomer' %}">new donor data</a>
    <table border="1">
        <tr>
            <th>Donorid</th>
            <th>DOnor name</th>
            <th>Donor email</th>
            <th>blood group</th>
            <th>gender</th>
            <th>Amount donated</th>
            <th>Previously donated</th>
        </tr>
        {% for result in data %}
        <tr>
            <td>{{result.donor_id}}</td>
            <td>{{result.c_name}}</td>
            <td>{{result.email}}</td>
            <td>{{result.blood_group}}</td>
            <td>{{result.gender}}</td>
            <td>{{result.donated_amount}}</td>
            <td>{{result.prev_donated}}</td>
            <td><a href="edit/{{result.donor_id}}/">Edit</a></td>
            <td><a href="delete/{{result.donor_id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</center>
</body>
</html>