<!DOCTYPE html>
<body>
    <title>Insert Record</title>
</body>
<body>
    <center>
    <center>Blood Donor Data Store</center>
    <hr/>
    <form method="POST">
        {% csrf_token %}
    <table border="1">
        <tr>
            <td>Donor ID</td>
            <td><input type="int" placeholder="Enter donor id" name="donor_id"></td>
        </tr>
        <tr>
            <td>Donor name</td>
            <td><input type="text" placeholder="Enter donor name" name="donor_name"></td>
        </tr>
        <tr>
            <td>Donor email</td>
            <td><input type="text" placeholder="enter email" name="email"></td>
        </tr>
        <tr>
            <td>
                blood_group
            </td>
            <td>
                <input type="checkbox" name="blood_group" value="A+">A+<br>
                <input type="checkbox" name="blood_group" value="A-">A-<br>
                <input type="checkbox" name="blood_group" value="B+">B+<br>
                <input type="checkbox" name="blood_group" value="B-">B-<br>
                <input type="checkbox" name="blood_group" value="AB+">AB+<br>
                <input type="checkbox" name="blood_group" value="AB-">AB-<br>
                <input type="checkbox" name="blood_group" value="O+">O+<br>
                <input type="checkbox" name="blood_group" value="O-">O-
            </td>
        </tr>
        <tr>
            <td>Gender</td>
            <td><input type="radio" name="gender" value="M">Male | <input type="radio" name="gender" value="F">Female | <input type="radio" name="gender" value="O">Other</td>
        </tr>
        <tr>
            <td>donated amount</td>
            <td><input type="float" name="donated_amount" placeholder="Enter total amount donated"></td>
        </tr>
        <tr>
            <td>Previously Donated </td>
            <td>
                <input type="radio" name="prev_donated" value="True">Yes <br>
                <input type="radio" name="prev_donated" value="False">No <br>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Insert"></td>
            <td>
                {% if messages %}
    {% for mess in messages %}
    <b style="color: blue;">{{mess}}</b>
    {% endfor %}
    {% endif %}
            </td>
        </tr>
    </table>
    <a href="{%url 'showcustomer' %}">Homepage</a>   
</form>
</center>
</body>
</html>