<!DOCTYPE html>
<body>
    <title>Insert Record</title>
</body>
<body>
    <center>
    <center>Electric bill generator</center>
    <hr/>
    <form method="POST">
        {% csrf_token %}
    <table border="1">
        <tr>
            <td>Customer ID</td>
            <td><input type="int" placeholder="Enter customer id" name="c_id"></td>
        </tr>
        <tr>
            <td>Customer name</td>
            <td><input type="text" placeholder="Enter customer name" name="c_name"></td>
        </tr>
        <tr>
            <td>email</td>
            <td><input type="text" placeholder="enter email" name="email"></td>
        </tr>
        <tr>
            <td>
                Job
            </td>
            <td>
                <input type="checkbox" name="job" value="private">Private<br>
                <input type="checkbox" name="job" value="public">Public<br>
                <input type="checkbox" name="job" value="business">Business
            </td>
        </tr>
        <tr>
            <td>gender</td>
            <td><input type="radio" name="gender" value="M">Male | <input type="radio" name="gender" value="F">Female | <input type="radio" name="gender" value="O">Other</td>
        </tr>
        <tr>
            <td>watt_used</td>
            <td><input type="float" name="watt_used" placeholder="Enter total watt used"></td>
        </tr>
        <tr>
            <td>Previous bill paid? </td>
            <td>
                <input type="radio" name="payment" value="True">Yes <br>
                <input type="radio" name="payment" value="False">No <br>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Insert"></td>
            <td>
                {% if messages %}
    {% for mess in messages %}
    <b style="color: blue;">{{mess}}</b>
    {% endfor %}
    {% endif %}
            </td>
        </tr>
    </table>
    <a href="{%url 'showcustomer' %}">Homepage</a>   
</form>
</center>
</body>
</html>